
#lista-vertical {
    line-height: 40%;
    max-height: 350px;
    overflow: scroll;
}

#lista-vertical .jugador-recomendacion {
    margin: 5px;
    padding: 5px;
}

#lista-vertical .jugador-recomendacion:hover {
    border-bottom: 1px solid #949494;
}

#lista-vertical p {
    font-size: 0.8em;
}