header {
    background: #141414;
    box-shadow: 0px 10px 5px #303030;
}


.route {
    text-decoration: none;
    color: white;
    font-weight: 700;
    opacity: .8;
    padding: .5rem;
}

.route:hover {
    text-decoration: none;
    color: white;;
    background: #303030;
    border-radius: 3px;
    opacity: 1;
}

header .menu a {
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
}

header .menu a:hover {
    color: rgba(255, 255, 255, 1);
}

header .menu .imagen {
    /* display: inline-block; */
    width: 45px;
    height: 45px;
    text-align: center;
    justify-content: center;
}

.imagen_perfil_header {
    border-radius: 100px;
    width: 40px;
    height: 40px;
    /* margin-right: 10px; */
}