footer {
  padding: 5px;
  background: #141414;
  color: white;
  margin-top: 40px;
  box-shadow: 0px -20px 3px #303030;
}

footer a {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}

footer a:hover {
  text-decoration: none;
  color: white;
  opacity: 1;
  background: #202020;
  border-radius: 3px;
  padding: 3px;
}

.cuerpo-footer {
  padding: 5px 0;
  border-bottom: 0.8px solid #535353;
}

.redes-sociales {
  padding-top: 10px;
}

.redes-sociales a {
  background: none;
  opacity: 0.5;
}

.redes-sociales a:hover {
  background: none;
  opacity: 1;
}

.fa-facebook-square {
  color: #3b5998;
  margin-right: 5px;
}

.fa-twitter {
  color: #55acee;
  margin-right: 5px;
}

.fa-instagram {
  color: #e4405f;
  margin-right: 5px;
}

.fa-linkedin {
  color: #0077b5;
  margin-right: 5px;
}

.fa-github {
  margin-right: 5px;
}

@media screen and (max-width: 560px) {
  .redes-sociales a span {
    display: none;
  }
}
