/* -------------------------------------  NOTICIAS  ------------------------------ */

.ultima-noticia {
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    max-width: 450px;

}

.ultima-noticia:hover {
    transform: translate(10px, -10px)
}

.noticia {
    color: white;
}

.ultima-noticia a {
    text-decoration: none;
    color: white;
}

.ultima-noticia a:hover {
    text-decoration: none;
}

.imagen-noticia {
    max-width: 280px !important;
    max-height: 150px;
    min-height: 150px;
}