
#lista-recta {
    line-height: 40%;
    max-height: 800px;
    overflow: scroll;
}

#lista-recta .jugador-recomendacion {
    margin: 5px;
    padding: 5px;
}

#lista-recta .jugador-recomendacion:hover {
    border-bottom: 1px solid #949494;
}

#lista-recta p {
    font-size: 0.8em;
}